# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Local development settings
.env

# Logs
*.log

# Virtual environment
venv/

# PyCharm config folder
.idea/


# Data files
data/

# Checkpoints
ckps/**/**.pt

# other files
download_dataset.sh
prompt-learning-soft-verbalizer.py
prompt-learning.py